<nav class="navbar navbar-light bd-blue-900">

  <div class="container-fluid">
    <a class="navbar-brand" href="/src/app/home-student/home-student.component.html">
      <img src="assets/img/Logo-RUTS.png" alt="" width="180" height="45" class="d-inline-block align-text-top">
    </a>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a routerLink="/logout" class="btn bd-yellow-500" role="button" data-bs-toggle="button">Logout</a>
</div>

  </div>
</nav>

<nav class="navbar navbar-expand-xl bd-blue-100">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-2">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-ex-2">
      <div class="navbar-nav me-auto">
      <li class="nav-item">
      <a class="nav-item nav-link " class="text-whit">Home</a>
      </div>
    </div>
  </div>
</nav>
